.centrar{
    display: block;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.main-box{
    display: flex;
    justify-content: center;
}

.block{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}