@media(min-width : 1000px){
    .grid-container{
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: 
        "nav main";
        
    }

    nav{
        grid-area: nav;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 20%;
    }
    
    main{
        grid-area: main;
    }
    
    section{
        height: 100vh;
    }
}