.img-principal{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('../src/assets/images/imagen1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}